/* Custom CSS styles */
#sidebar, #newSidebar {
    width: 250px;
}
#mapSection {
    flex-grow: 1;
    height: 100vh; /* Adjust this to fit the screen */
}
.icon {
    cursor: pointer;
}
.draggable-item {
    cursor: grab;
}
#tableSection {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    background-color: #f8f9fa;
    z-index: 999;
}
#mapSection {
    margin-bottom: 100px; /* Ensures map is fully visible above the table */
}
